################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQ1 Blog/.vs/SQ1Blog
/SQ1 Blog/bin/Debug/netcoreapp3.1
/SQ1 Blog/obj
