@*@model _LayoutModel*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SQ1 Blog</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <link href="~/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <!-- HEADER -->
    <header id="header">
        <!-- NAV -->
        <div id="nav">
            <!-- Top Nav -->
            <div id="nav-top">
                <div class="container">
                    <!-- social -->
                    <ul class="nav-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <!-- /social -->
                    <!-- logo -->
                    <div class="nav-logo">
                        <a href="#" class="logo"><img src="~/img/logo.png" alt="Newswall"></a>
                    </div>
                    <!-- /logo -->
                    <!-- search & aside toggle -->
                    <div class="nav-btns">
                        <button class="aside-btn"><i class="fa fa-bars"></i></button>
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                        <div id="nav-search">
                            <form>
                                <input class="input" name="search" placeholder="Enter your search...">
                            </form>
                            <button class="nav-close search-close">
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <!-- /search & aside toggle -->
                </div>
            </div>
            <!-- /Top Nav -->
            <!-- Main Nav -->
            <div id="nav-bottom">
                <div class="container">
                    <!-- nav -->
                    <ul class="nav-menu">
                        <li class="">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Politics</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Business</a>

                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Entertainment</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Events</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Sports</a>
                        </li>
                        <li><a asp-controller="Home" asp-action="Index">About</a></li>
                        <li><a asp-controller="Home" asp-action="Index">Contact Us</a></li>
                    </ul>
                    <!-- /nav -->
                </div>
            </div>
            <!-- /Main Nav -->
            <!-- Aside Nav -->
            <div id="nav-aside">
                <ul class="nav-aside-menu">
                    <li><a asp-page="/Index">Home</a></li>
                    <li class="has-dropdown">
                        <a>Categories</a>
                        <ul class="dropdown">
                            <li><a asp-controller="Home" asp-action="Index">Politics</a></li>
                            <li><a asp-controller="Home" asp-action="Index">Business</a></li>
                            <li><a asp-controller="Home" asp-action="Index">Entertainment</a></li>
                            <li><a asp-controller="Home" asp-action="Index">Events</a></li>
                            <li><a asp-controller="Home" asp-action="Index">Sports</a></li>
                            <li><a asp-controller="Home" asp-action="Index">Personality Profiles</a></li>
                            <li><a asp-controller="Home" asp-action="Index">Investigations</a></li>

                        </ul>
                    </li>
                    <li><a asp-controller="Home" asp-action="Index">About Us</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Contacts</a></li>
                    <li><a href="#">Advertise</a></li>
                </ul>
                @*@await Html.PartialAsync("/Login/LoginPartial.cshtml")*@
                <partial name="/Views/Account/LoginPartial.cshtml" />
                <button class="nav-close nav-aside-close"><span></span></button>
            </div>
            <!-- /Aside Nav -->
        </div>
        <!-- /NAV -->
    </header>
    <!-- /HEADER -->


    <div class=" container body-content">
        @RenderBody()
        <hr />

    </div>
    <!-- FOOTER -->
    <footer id="footer">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="#" class="logo"><img src="~/img/logo-alt.png" alt=""></a>
                        </div>
                        <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                        <ul class="contact-social">
                            <li><a href="#" class="social-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="social-twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="social-google-plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="social-instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3 class="footer-title">Categories</h3>
                        <div class="category-widget">
                            <ul>
                                <li><a href="#">Politics <span>451</span></a></li>
                                <li><a href="#">Business <span>230</span></a></li>
                                <li><a href="#">Entertainment <span>40</span></a></li>
                                <li><a href="#">Event <span>38</span></a></li>
                                <li><a href="#">Sports <span>10</span></a></li>
                                <li><a href="#">Personality Profile <span>24</span></a></li>
                                <li><a href="#">Events <span>15</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3 class="footer-title">Tags</h3>
                        <div class="tags-widget">
                            <ul>
                                <li><a href="#">Social</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Life</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Magazine</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Health</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3 class="footer-title">Newsletter</h3>
                        <div class="newsletter-widget">
                            <form>
                                <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
                                <input class="input" name="newsletter" placeholder="Enter Your Email">
                                <button class="primary-button">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
            <!-- row -->
            <div class="footer-bottom row">
                <div class="col-md-6 col-md-push-6">
                    <ul class="footer-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Privacy and Terms of use</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="footer-copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> | This site was devloped by <a href="#" target="_blank">Joeycrack</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </footer>
    <!-- /FOOTER -->
    <environment include="Development">

        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.stellar.min.js"></script>
        <script src="~/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/main.js"></script>
        <script src="~/js/jquery.stellar.min.js"></script>
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    @*@await Component.InvokeAsync("NToastNotify")*@
</body>
</html>
