@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Identity
@using SQ1Blog.Entities;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="/Account" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
            <li>
                <button asp-controller="/Article" asp-action="ArticleList" class="btn btn-link navbar-btn navbar-link">Admin Panel</button>
            </li>
            <li>
                <button class="btn btn-link navbar-btn navbar-link">Hello @UserManager.GetUserName(User)!</button>
            </li>
        </ul>

    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="/Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="/Account" asp-action="Login">Log in</a></li>
    </ul>
}
